body {
    background-image: url('../images/Landing/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gradient-box {
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(10px);
}